<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Steam Game Database", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Games", games_path %></li>

        <li><%= link_to "Developers", developers_path %></li>

        <li><%= link_to "Publishers", publishers_path %></li>

        <li><%= link_to "Packages", packages_path %></li>

        <li><%= link_to "Languages", languages_path %></li>
      </ul>
    </nav>
  </div>
</header>
